.temperature {
  width: 80%;
  border: 1px solid #000;
  display: flex;
  padding: 20px;
  margin: auto;
  justify-content: space-around;

  border: none;
  border-radius: 1.5rem;
  background: #efefef;
  box-shadow: 6px 6px 14px #dddddd, -6px -6px 14px #ffffff;
}
